body {
    background: #FFEBCD;
    background-size: 100% auto; 

    height: 100%;
    width: 100%;
    overflow: hidden;
    display: grid;
}

div.center {
    margin: auto;
    background: rgba(255, 255, 255, 0.7);;
    padding: 50px;
}

div.buttons {
    display: flex;
    justify-content: center;
}

button {
    margin: 0 10px;
}